<section id="comingsoon">
	<div class="soon">
		<div id="soontext">Coming Soon</div>
		<div>
			<script type="text/javascript" language="javascript">
			<!--
			{ coded = "kLyF@sH7k1MFzz.lFs"
			  key = "Gfql0o8zwi5Z6bHUALTyCPYFhKvkdjxutma3XEQ24VBSpW7cg9Ms1ORINJerDn"
			  shift=coded.length
			  link=""
			  for (i=0; i<coded.length; i++) {
			    if (key.indexOf(coded.charAt(i))==-1) {
			      ltr = coded.charAt(i)
			      link += (ltr)
			    }
			    else {     
			      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
			      link += (key.charAt(ltr))
			    }
			  }
			document.write("<a href='mailto:"+link+"'>"+link+"</a>")
			}
			//-->
			</script><noscript>Sorry, you need Javascript on to email me.</noscript>
		</div>
	</div>
</section>